logs
project/project
project/description
description
tmp
.history
dist
/.idea
*.iml
*.iws
*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.shell_history
project/target
target/
.gradle/
build/
neo4jDB/
