@import "bootstrap.css";
@import "font-awesome.css";

.thumbnail > img {
  margin-top: 15px;
  width: 200px;
  height: 300px;
  .border-radius(10px);
}

.page-header {
    background-color: #3b5998;
    color: #ffffff;
}

.jumbotron {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}