@import "bootstrap.css";
@import "font-awesome.css";

/* General */

body { padding-bottom: 80px;}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Top */

#homeTitle {
   margin-bottom: 30px;
}

.jumbotron {
    background-color: #f5f5f5;
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.smiley { height: 60px; margin-bottom: 5px;}

.nav { margin-bottom: -1px;}

/* Overview */

.entry { text-align: center; border-bottom: 1px solid #ccc; margin-bottom: 30px; padding-bottom: 20px;}
.entry h5.teamName { height: 1.1em; }
.entry .imgWrapper { margin: 15px 0 0 0; border-radius: 200px; display: inline-block; box-sizing: content-box; border: 15px solid #fff; overflow:hidden; width: 200px; height: 200px;}
.entry .imgWrapper img {min-height: 200px; min-width: 200px;}
.entry h3.entryName { height: 2.2em;}

/* Register/Confirmation  */

form[role=form] .submit{
    text-align: center;
}

.signup-pic {
    width: 320px;
}

/* Search */

.results-counter {
    text-align: center;
    font-size: 1em;
}

/* Search - User entries */

.user-entry-teamname {
    min-height: 15px;
}

.user-entry-image {
    height: 263px!important;
}

/* Search - Person Details */


/* Single person */

.single-person-pic, .person-details-img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
}

/* Team details*/


/* 404 */

.no-results.main { line-height: 1em;}

.no-results.search { vertical-align: bottom; text-align: center;}
.no-results.search img { margin-bottom: -5px; margin-left: -32px;}

.sadface { text-align: center;}

/* Breakpoints */

@media (max-width: 768px) {
    .smiley { height: 30px; margin-bottom: 4px; }
}


