@(people: List[domain.Person])
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the facewall app</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>

<h1 class="text-center page-header">Facewall</h1>

<div class="container">
    <ul class="thumbnails">
        @people.map { person =>
        <li class="span4">
            <div class="thumbnail">
                <img src="@person.picture"/>

                <h3 class="text-center">@person.name</h3>
            </div>
        </li>
        }
    </ul>
</div>

</body>
</html>