@(entries: List[model.OverviewEntry])
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the facewall app</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>

<h1 class="text-center page-header">Facewall</h1>

<div class="container">
    <ul class="thumbnails">
        @entries.map { entry =>
            <li class="span4">
                <div class="thumbnail" style="background-color:#@entry.colour">
                    <h5>@entry.teamHeader</h5>
                    <img src="@entry.picture"/>

                    <h3 class="text-center">@entry.name</h3>
                </div>
            </li>
        }
    </ul>
</div>

</body>
</html>