@(entries: List[model.OverviewEntry])

@main("Welcome to the facewall app", 0) {
<div class="container">
    <div class="row">
        @entries.map { entry =>
            <div class="col-md-4">
                <div class="thumbnail" style="background-color:#@entry.colour">
                    <h5>@entry.teamHeader</h5>
                    <img src="@entry.picture"/>

                    <h3 class="text-center">@entry.name</h3>
                </div>
            </div>
        }
    </div>
</div>
<script src="assets/javascripts/snake-order.js"></script>
<script>
    var overviewEntries = $("div.col-md-4").detach();
    var snakeOrdered = snakeOrder(overviewEntries.get(), 3);
    $("div.row").append(snakeOrdered);
</script>
}