@(results: model.DefaultSearchResultsModel)

<div class="container">
    @if(!results.persons.isEmpty) {
    <div>
        <h1>People</h1>
    </div>
    <div class="row">
        @results.persons.map { result =>
        <div class="col-md-4">
            <div class="thumbnail">
                <h5>@result.teamName</h5>
                <img src="@result.picture"/>

                <h3 class="text-center">@result.name</h3>
            </div>
        </div>
        }
    </div>
    } else {
       <h1 class="no-results no-results-person">No person exists with that name!</h1>
    }

    @if(!results.teams.isEmpty) {
    <div>
        <h1>Teams</h1>
    </div>
    <div class="row">
        @results.teams.map { result =>
        <div class="col-md-4">
            <div class="thumbnail">
                <h3 class="text-center">@result.name</h3>
            </div>
        </div>
        }
    </div>
    } else {
        <h1 class="no-results no-results-team">No team exists with that name!</h1>
    }
</div>