@(userForm: Form[model.UserModel], teamExists: Boolean)
@main("Input your details", 2) {
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 form">
            <form role="form" method="post" action="/signupform">
                <div class="form-group">

                    @for(error <- userForm("name").error) {
                    <h4>@(error.message)</h4>
                    }

                    <label>Full name</label>
                    <input class="form-control" type="text" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">

                    @for(error <- userForm("imgURL").error) {
                    <h4>@(error.message)</h4>
                    }

                    <label>Url to picture</label>
                    <input class="form-control" type="url" name="imgURL" placeholder="Enter url" required>
                </div>
                <div class="form-group">

                    @for(error <- userForm("email").error) {
                    <h4>@(error.message)</h4>
                    }

                    <label>Email address</label>
                    <input class="form-control" type="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">

                    @for(error <- userForm("team").error) {
                    <h4>@(error.message)</h4>
                    }

                    @if(!teamExists) {
                    <h4>The team entered does not exist</h4>
                    }

                    <label>Team name</label>
                    <input class="form-control" name="team" required>
                </div>
                <div class="form-group">

                    @for(error <- userForm("scrum").error) {
                    <h4>@(error.message)</h4>
                    }

                    <label>Scrum name</label>
                    <input class="form-control" type="text" name="scrum" placeholder="Enter scrum name" required>
                </div>
                <div class="form-group">

                    @for(error <- userForm("role").error) {
                    <h4>@(error.message)</h4>
                    }

                    <label>Job role</label>
                    <select class="form-control" name="role" required>
                        <option value="ba">Business Analyst</option>
                        <option value="developer">Developer</option>
                        <option value="manager">Management</option>
                        <option value="scrum_master">Scrum Master</option>
                        <option value="qa">QA</option>
                    </select>
                </div>
                <div class="form-group">

                    @for(error <- userForm("location").error) {
                    <h4>@(error.message)</h4>
                    }

                    <label>Work location</label>
                    <select class="form-control" name="location" required >
                        <option value="bath_road">Bath road</option>
                        <option value="buckingham_avenue">Buckingham Avenue</option>
                        <option value="leeds">Leeds</option>
                        <option value="pune">Pune</option>
                    </select>
                </div>
                <input class="btn btn-primary btn-lg btn-block" type="submit">
            </form>
        </div>
    </div>
</div>
}